.bd1{
    background: linear-gradient(#0042AA, rgb(100,156,210));
    color: white;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 0%;
}

.bd2{
    background: linear-gradient(#ffffff,#5b5de7) ;
    color: white;
    font-family: 'Merriweather', serif;
    text-align: center;
}
.content{
    height: 35rem;
    margin-top: 5%;
}
.but{
    margin: 1.5%;
}
.para{
    display: inline;
    color: white;
}
.ic2{
    height: 7rem;
    margin: 5%;
}
.di{
    margin-top: 3%;
}
.profile{
    margin: 0 auto 0 auto;
    border-style: solid;
    border-radius: 50%;
}
.name{
    margin: 15px;
}
.butons{
    margin: 1% 25% 1% 25%;
}
.ic{
    margin: 0 5px;
    width: 30px;
    height: 30px;
}
.fo{
    color:black;
}
